<div class="wrapper">

    <div *ngIf="currentUserRole === DONOR">
        <div class="card">
            <div class="edit-button-wrapper"
                *ngIf="editMode == false">
                <button mat-icon-button  
                        (click)="editMode = true; 
                        createUsernameFormControl()"
                        >
                    <mat-icon class="edit-icon">
                        edit
                    </mat-icon>
                </button>
            </div>
            
            <div *ngIf="editMode == true" 
                 class="edit-button-wrapper"
                 >
                <button mat-icon-button
                        class="check-button"
                        [disabled]="username.hasError('required')" 
                        (click)="updateDonor()">
                    <mat-icon>
                        check
                    </mat-icon>
                </button>
                <button mat-icon-button 
                        (click)="editMode = false"
                        >
                    <mat-icon class="close-icon">
                        close
                    </mat-icon>
                </button>
            </div>
            <mat-icon class="profile-icon">person</mat-icon>

            <ng-container *ngIf="editMode == false; else editModeDonor">
                <p class="card-title">
                    {{currentDonor.username}}
                </p>
            </ng-container>

            <ng-template #editModeDonor>
                <mat-form-field appearance="standard">
                    <input matInput 
                           class="input"
                           type="text" 
                           placeholder="Username" 
                           [formControl]="username" 
                           autocomplete="off">
                    <mat-hint *ngIf="username.hasError('required') && username.dirty"
                              class="text-danger">
                      The username is required
                    </mat-hint>
                </mat-form-field>
            </ng-template>

            <p class="user-type-text">DONOR</p>
            <p class="address-text">
                {{currentDonor.accountAddress}}
            </p>

            <hr class="divider">    

            <div class="statistics-wrapper">
                <div class="statistic-headline">
                    <div class="headline">Current Balance:</div>
                    <div class="headline">Money Shared:</div>
                    <div class="headline">Helped Causes:</div>
                </div>
                
                <div class="statistic-result">
                    <div><i class='fab fa-ethereum eth-icon'></i>{{(currentBalance$ | async)}}</div>
                    <div><i class='fab fa-ethereum eth-icon'></i>{{(moneyShared$ | async)}}</div>
                    <div>{{(numberHelpedCauses$ | async)}}</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="currentUserRole === CHARITY_ORGANIZATION">
        <div class="card">
            <div class="edit-button-wrapper"
                *ngIf="editMode == false">
                <button mat-icon-button
                        (click)="editMode = true;
                        createCharityOrganizationFormBuilder()"
                        >
                    <mat-icon class="edit-icon">
                        edit
                    </mat-icon>
                </button>
            </div>

            <div *ngIf="editMode == true" 
                 class="edit-button-wrapper"
                 >
                <button mat-icon-button
                        class="check-button"
                        [disabled]="editCharityOrganizationForm.invalid" 
                        (click)="updateCharityOrganization()">
                    <mat-icon>
                        check
                    </mat-icon>
                </button>
                <button mat-icon-button 
                        (click)="editMode = false"
                        >
                    <mat-icon class="close-icon">
                        close
                    </mat-icon>
                </button>
            </div>
            <mat-icon class="profile-icon">people</mat-icon>
                

            <ng-container *ngIf="editMode == false; else editModeCharityOrganization">
                <p class="card-title">
                    {{currentCharityOrganization.name}}
                </p>
                <div class="user-type-text">CHARITY ORGANIZATION</div>
                <div class="address-text">
                    {{currentCharityOrganization.accountAddress}}
                </div>

                <hr class="divider">

                <div>
                    <div><span class="headline">Email:</span> {{currentCharityOrganization.email}}</div>
                    <div><span class="headline">Description:</span> {{currentCharityOrganization.description}}</div>
                    <div *ngIf="currentCharityOrganization.phoneNumber">
                        <span class="headline">Phone number:</span> {{currentCharityOrganization.phoneNumber}}
                    </div>
                </div>
            </ng-container>

            <ng-template #editModeCharityOrganization>
                <br>
                <div class="user-type-text">CHARITY ORGANIZATION</div>
                <div class="address-text">
                    {{currentCharityOrganization.accountAddress}}
                </div>

                <hr class="divider">

                <form [formGroup]="editCharityOrganizationForm" 
                      class="form-container">
                    <mat-form-field class="d-block" appearance="outline">
                        <input matInput
                                type="text" 
                                placeholder="Name"  
                                formControlName="name" 
                                autocomplete="off">
                        <mat-hint *ngIf="editCharityOrganizationForm.get('name')?.hasError('required') && editCharityOrganizationForm.get('name')?.dirty"
                                    class="text-danger">
                            The name is required
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput 
                               type="text" 
                               placeholder="Email"  
                               formControlName="email" 
                               autocomplete="off"
                               >
                        <mat-hint *ngIf="editCharityOrganizationForm.get('email')?.hasError('required') && editCharityOrganizationForm.get('email')?.dirty"
                                  class="text-danger">
                            The email is required
                        </mat-hint>
                        <mat-hint *ngIf="editCharityOrganizationForm.get('email')?.hasError('email') && editCharityOrganizationForm.get('email')?.dirty"
                                   class="text-danger">
                            Please enter a valid email
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <textarea matInput 
                               type="text" 
                               placeholder="Description"  
                               formControlName="description" 
                               autocomplete="off"></textarea>
                        <mat-hint *ngIf="editCharityOrganizationForm.get('description')?.hasError('required') && editCharityOrganizationForm.get('description')?.dirty"
                                  class="text-danger">
                            The description is required
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput 
                               type="number" 
                               placeholder="Phone Number"  
                               formControlName="phoneNumber" 
                               autocomplete="off">
                    </mat-form-field>
                </form>
            </ng-template>

            <hr class="divider">    

            <div class="statistics-wrapper">
                <div class="statistic-headline">
                    <div class="headline">Current Balance:</div>
                    <div class="headline">Money Shared:</div>
                    <div class="headline">Money Received:</div>
                    <div class="headline">Number of Posts:</div>
                </div>
                
                <div class="statistic-result">
                    <div><i class='fab fa-ethereum eth-icon'></i>{{(currentBalance$ | async)}}</div>
                    <div><i class='fab fa-ethereum eth-icon'></i>{{(moneyShared$ | async)}}</div>
                    <div><i class='fab fa-ethereum eth-icon'></i>{{(moneyReceived$ | async)}}</div>
                    <div>{{(numberOfPosts$ | async)}}</div>
                </div>
            </div>
      
    </div>
</div>
