<div class="dialog-wrapper">
    <h2 mat-dialog-title>Hello! Welcome to our comunity</h2>
    <h2 mat-dialog-title>Please fill out the form to register</h2>


    <mat-dialog-content>
    
        <form [formGroup]="registerForm">
            <mat-form-field class="d-block">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" formControlName="email" autocomplete="off">
                <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Please enter an email</mat-error>
                <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Please enter a valid email</mat-error>
                <!-- <mat-error *ngIf="registerForm.controls['email'].hasError('uniqueEmail')">This email is already used</mat-error> -->
            </mat-form-field>

            <mat-form-field class="d-block">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" formControlName="name" autocomplete="off">
                <mat-error *ngIf="registerForm.controls['name'].hasError('required')">Please enter the name of the organization</mat-error>
            </mat-form-field>

            <mat-form-field class="d-block">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Description" formControlName="description" autocomplete="off">
                <mat-error *ngIf="registerForm.controls['description'].hasError('required')">Please enter a descrition of your organization</mat-error>
            </mat-form-field>

            <mat-form-field class="d-block">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number" placeholder="Phone Number" formControlName="phoneNumber" autocomplete="off">
            </mat-form-field>
        </form>
            
    
    </mat-dialog-content>

    <mat-dialog-actions class="action-buttons">
        <button mat-raised-button type="reset" mat-dialog-close>Cancel</button>
        <button mat-raised-button type="submit" class="mat-primary" mat-dialog-close [disabled]="registerForm.invalid" (click)="register()">Register</button>
    </mat-dialog-actions>
</div>
