<div class="dialog-wrapper">
    <h2 mat-dialog-title>Hello! Welcome to our comunity</h2>


    <mat-dialog-content>
    
        <mat-form-field class="d-block">
            <mat-label>Choose a username</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="username" >
        </mat-form-field>
    
    </mat-dialog-content>

    <mat-dialog-actions class="action-buttons">
        <button mat-raised-button class="mat-primary" mat-dialog-close (click)="continue()">Continue</button>
    </mat-dialog-actions>
</div>