<fieldset class="wrapper-container rounded-3">
    <legend class="heading float-none w-auto px-3"><span class="title">Live Donations</span></legend>
    <div class="transaction">
        <p class="top-posts-text">Martha Stewart's Cat Princess Peony Died </p>
    </div>
    <hr class="divider">
    <div class="top-post">
        <p class="top-posts-text">I Am Genuinely Curious If You Like These 45 Big H</p>
    </div>
    <hr class="top-posts-divider">
    <div class="top-post">
        <p class="top-posts-text">10 Times Reality Shows Rem</p>
    </div>
</fieldset>
