
@use  "../../../constants.scss" as style;

.wrapper-container {
    position: fixed;
    top: 175px;
    right: 100px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1.5rem;
    width: 350px;
    height: 700px;
    border: 1px solid style.$primary-color;
    background-color: transparent;
}

.divider {
    width: 100%;
    border: 1px solid style.$primary-color;
}

.heading {
    font-size: 30px;
    font-weight: 550;
    background: -webkit-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: -moz-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: linear-gradient(to bottom right, style.$primary-color, style.$secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.wrapper {
    display: flex;
    justify-content: center;
}

.donation-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.arrow-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-bottom: -20px;
}

.arrow-icon:hover {
    background-color: style.$secondary-color;
    color: style.$tertiary-color;
    border-radius: 100%;
    opacity: 0.5;
}

.donation {
    display: flex;
    justify-content: center;
}

.wrapper-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .wrapper-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  .wrapper-container::-webkit-scrollbar-thumb {
    background: style.$secondary-color; 
    border-radius: 10px;
  }
  