@use  "../../../constants.scss" as style;

.container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 100px;
    color: black;
}

.back-button {
    position: absolute;
    margin-top: -7px;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: -30px;
}

.title {
    font-size: 30px;
    font-weight: 400px;
}

.divider {
    color: style.$primary-color;
}

.subtitle {
    font-size: 20px;
    font-weight: 350px;
    color: style.$accent-color;
}
 
.content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

textarea {
    height: 100px;
}

.add-photo-button {
    margin-bottom: 15px;
    color: style.$primary-color;
}

.add-photo-icon {
    transform: scale(1.4);
}

.photo-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10%;
}

.photo-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.close-button {
    color: red;
    margin-left: -50px;
}

.close-icon:hover {
    background-color: rgb(255, 0, 0, 0.3);
    color: red;
    border-radius: 100%;
}

.form-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.action-button {
    margin: 10px;
    width: 100px;
    padding: 3px 20px 3px 20px;
}

.post-button {
    background: -webkit-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: -moz-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: linear-gradient(to bottom right, style.$primary-color, style.$secondary-color);
}

.post-button-text {
    color: style.$tertiary-color;
}

.post-button:disabled {
    opacity: 0.4;
}