@use  "../../../../constants.scss" as style;

.dialog-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 160px;
}

.action-buttons {
    display: flex;
    justify-content:flex-end;
    align-content: space-between;
}

.action-button {
    margin: 10px;
    width: 100px;
    padding: 3px 20px 3px 20px;
}

.register-button {
    background: -webkit-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: -moz-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: linear-gradient(to bottom right, style.$primary-color, style.$secondary-color);
}

.register-button-text {
    color: style.$tertiary-color;
}