<div class="header-wrapper">
  <mat-toolbar class="toolbar" [ngClass]="{'mat-elevation-z5' : true}">

    <div class="first-column">
      <button class="d-flex title" (click)="goToMainPage()">
        <mat-icon class="logo big-icon">face</mat-icon>
        <h1 class="title-text">Let's be human</h1>
      </button>
    </div>

    <ng-container *ngIf="!isOnHomePage()">
      <div class="second-column">
        <button mat-icon-button [ngClass]="{'active': (getActiveButton() | async) === ALL_POSTS_BUTTON}" (click)="changeMainPageView(ALL_POSTS_BUTTON)">
          <mat-icon class="big-icon">home</mat-icon>
        </button>
        <button mat-icon-button [ngClass]="{'active': (getActiveButton() | async) === WISHLIST_POSTS_BUTTON}" (click)="changeMainPageView(WISHLIST_POSTS_BUTTON)">
          <mat-icon class="big-icon">favorite</mat-icon>
        </button>

        <div *ngIf="(currentUserRole |async) === CHARITY_ORGANIZATION">
          <button mat-icon-button [ngClass]="{'active': (getActiveButton() | async) === CURRENT_USER_POSTS_BUTTON}" (click)="changeMainPageView(CURRENT_USER_POSTS_BUTTON)">
            <mat-icon class="big-icon">person_pin_circle</mat-icon>
          </button>
        </div>

      </div>

      <div class="third-column" >
        
        <div *ngIf="(currentUserRole | async) === CHARITY_ORGANIZATION">
          <button mat-button>
              <a [routerLink]="['/create-post']">
                <mat-icon class="big-icon">add_comment</mat-icon>
              </a>
          </button> 
        </div>

        <button mat-button (click)="logOut()">
          <mat-icon class="big-icon">exit_to_app</mat-icon>
        </button>

        
      </div>
    </ng-container>

  </mat-toolbar>
  <!-- <hr class="rounded"> -->
</div>

