@use  "../../../constants.scss" as style;

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.toolbar {
  flex-direction: row;         
  justify-content: space-between;
  height: 80px;
  background: -webkit-linear-gradient(top left, style.$primary-color, style.$secondary-color);
  background: -moz-linear-gradient(top left, style.$primary-color, style.$secondary-color);
  background: linear-gradient(to bottom right, style.$primary-color, style.$secondary-color);
}

.toolbar > div {
  width: 350px;
}

.first-column {
  display: flex;
  align-items: center;
}

.title {
  border: none;
  background: none;
}

.title-text {
  color: black;
  font-size: 180%;
  font-weight: 200px;
}

.logo {
  transform: scale(1.7);
  margin: 0px 20px 0px 30px;
  color: black;
  align-self: center;
}

.second-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.big-icon {
  transform: scale(1.4);
  align-self: center;
  color: style.$tertiary-color;
  border-radius: 45%;
}

.big-icon:hover {
  background-color: style.$primary-color;
  border-radius: 100%;
  opacity: 0.5;
}

.third-column {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.sign-out-button {
  margin-left: 20px;
}

.active-button {
  border-top: solid 2px style.$accent-color;
  border-bottom: solid 2px style.$accent-color;
}