@use  "../../../styles.scss" as style;

.header-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid black;

}

.toolbar {
  background-color: transparent;       
  flex-direction: row;         
  flex-wrap: nowrap;              
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: style.$header-color;
}

.toolbar > div {
  width: 300px;
}

.title {
  border: none;
  background: none;
}

.title-text {
  font-size: 40;
  font-weight: 300;
}

.first-column {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 20px 0px 30px 
}

.second-column {
  display: flex;
  justify-content: space-around;
}

.third-column {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
 
.big-icon {
  transform: scale(1.4);
  align-self: center;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-top: -10px;
}

.active {
  color: white;
}
