<div class="wrapper">
    <p class="login-text">Login as:</p>
    <div>
        <button mat-raised-button 
                class="mat-primary login-button donor-button"
                (click)="loginAsDoner()">
            <p class="donor-text">Donor</p>
        </button>

        <button mat-raised-button 
                class="mat-primary login-button charity-organization-button"
                (click)="loginAsCharityOrganization()">
            <p class="charity-organization-text">Charity Organization</p>
        </button>
        
    </div>
    <div>
        <button mat-raised-button
                class="login-button guest-button"
                (click)="loginAsGuest()">
            <p class="guest-text">Guest</p>
        </button>
    </div>
</div>  
