.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;
}

.search-bar {
  border-color: green;
  display: block;
}

.second-row {
  flex-basis: 700px;
}
