<div class="flex-container">
    <div class="first-row">1</div>
    <div class="second-row">
        <form>
            <mat-form-field appearance="outline" class="search-bar">
                <input autocomplete="off" type="text" matInput placeholder="Search" name = "search" [(ngModel)]= "search">
                <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
            <br/>
            {{search}}
        </form>
          
        <div *ngFor="let post of (posts$ | async)">
            <app-post class="post" [post]="post!"></app-post>
        </div>
    </div>
    <div class="third-row">3</div>  
</div>