@use  "../../../../constants.scss" as style;

.dialog-wrapper {
    width: 320px;
    height: 270px;
}

.title-wrapper {
    color: style.$accent-color;
}

.title-text {
    font-weight: 900px;
}

.divider {
    width: 100%;
    border: 1px solid style.$primary-color;
}

.action-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: space-between;
}

.confirm-button {
    background: -webkit-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: -moz-linear-gradient(top left, style.$primary-color, style.$secondary-color);
    background: linear-gradient(to bottom right, style.$primary-color, style.$secondary-color);
}

.confirm-button-text {
    color: style.$tertiary-color;
}

.confirm-button:disabled {
    color: white;
    opacity: 0.4;
}