@use '@angular/material' as mat;
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  // background-image: url("assets/background/background.jpg");
  background-color: rgb(162, 156, 192);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 800px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}