<mat-card class="post-wrapper" [ngClass]="{'mat-elevation-z5' : true}">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title *ngIf="charityOrganization">{{ charityOrganization.name }}</mat-card-title>
      <mat-card-subtitle> {{ post.headline }} </mat-card-subtitle>
      <div *ngIf="(activeButton$ | async) === CURRENT_USER_POSTS_BUTTON" class="modification-buttons">
        <button mat-button (click)="updatePost()"><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="deletePost()"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card-header>

    <mat-card-content> 
      <carousel [isAnimated]="true"  [interval]='0'>
        <slide *ngFor="let photo of photos">
          <img [src]="photo" style="display: block; width: 100%;">   
        </slide>   
      </carousel>

      <a href= "{{ post.readMoreUrl }}" target="_blank">
        <div class="d-flex justify-content-end align-items-center">
          <div>Read more</div>
          <mat-icon>arrow_right_alt</mat-icon>
        </div>
      </a>

      <p>
        {{ post.description }}
      </p>

    </mat-card-content>
    <mat-card-actions class="button-list">
      <button mat-button matTooltip="Donate 1ETH" (click)="openConfirmationDialog(1)">LIKE</button>
      <button mat-button matTooltip="Donate 5ETH" (click)="openConfirmationDialog(5)">ADOR</button>
      <button mat-button matTooltip="Donate 10ETH" (click)="openConfirmationDialog(10)"><3<3<3</button>
      <button mat-button matTooltip="Customize donation" (click)="openCustomDonationDialog()">Custom</button>
    </mat-card-actions>
  </mat-card>

  
  