.post-wrapper {
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgb(103, 77, 150);
    z-index: 101;
}

.button-list {
    display: flex;
    justify-content: space-around;
}

.modification-buttons {
    display: block;
    margin-left: auto;
}