@use  "../../../styles.scss" as style;

.post-wrapper {
    background-color: style.$primary-color;
    margin-bottom: 30px;
    box-shadow: 0px 0px 7px black;
    z-index: 101;
    // border: 1px solid black;
}

.button-list {
    display: flex;
    justify-content: space-around;
}

.modification-buttons {
    display: block;
    margin-left: auto;
}