.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
}

.search-bar {
  margin-top: 100px;
  display: block;
}

.second-row {
  flex-basis: 700px;
}

.first-row, .third-row {
  flex-grow: 1;
  flex-basis: 0;
}

.third-row {
  display: block;
  float: right;
}
