.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
}

.search-bar {
  border-color: green;
  display: block;
}

.second-row {
  align-self: center;
  flex-basis: 700px;
}

.first-row, .third-row {
  flex-grow: 1;
  flex-basis: 0;
}