@use  "../../../constants.scss" as style;

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding: 100px 50px 0 50px;
}

.search-bar {
  display: block;
}

.first-row {
  display: flex;
  justify-content: flex-start;
}

.second-row {
  flex-basis: 650px;
}

.first-row, .third-row {
  flex-grow: 1;
  flex-basis: 0;
}

.third-row {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 1600px) {
  .first-row {
      display: none;
  }
}

@media only screen and (max-width: 1168px) {
  .third-row {
      display: none;
  }
}