.dialog-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 170px;
}

.action-buttons {
    display: flex;
    justify-content:flex-end;
    align-content: space-between;
}