<div class="dialog-wrapper">
    <h2 mat-dialog-title>Donate {{amount}} ETH</h2>

    <mat-dialog-content>
    
        <mat-form-field class="d-block">
            <mat-label>Share a thought</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="message" >
        </mat-form-field>
    
    </mat-dialog-content>

    <mat-dialog-actions class="action-buttons">
        <button mat-raised-button (click)="confirm(false)">Close</button>
        <button mat-raised-button class="mat-primary"(click)="confirm(true)">Donate</button>
    </mat-dialog-actions>
</div>